@model IEnumerable<SuperGes.Models.CarrinhoComprasProdutos>

@{
    ViewBag.Title = "Index";
}

<h2>Carrinho de Compras/Produtos</h2>

<br />
@Html.Partial("../Shared/BarraLateralB")
<br />



<p>
    <div class="btn btn-default">@Html.ActionLink("Criar novo", "Create", new { @class = "letraBotao" })</div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarrinhoCompras.IDCarrinhoCompras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarrinhoCompras.IDCarrinhoCompras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVA)
        </td>
        <td>
            <div class="btn btn-warning"> @Html.ActionLink("Editar", "Edit", new { id = item.IDcomprasProduto }, new { @class = "letraBotao" })</div>|
            <div class="btn btn-success"> @Html.ActionLink("Detalhes", "Details", new { id = item.IDcomprasProduto }, new { @class = "letraBotao" })</div>|
            <div class="btn btn-danger"> @Html.ActionLink("Eliminar", "Delete", new { id = item.IDcomprasProduto }, new { @class = "letraBotao" })</div>
        </td>
    </tr>
}

</table>
