@model IEnumerable<SuperGes.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<br />
@Html.Partial("../Shared/BarraLateralB")
<br />


<p>
    <div class="btn btn-default">@Html.ActionLink("Criar novo", "Create", new { @class = "letraBotao" })</div>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfoCartaoCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfoCartaoCredito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            <div class="btn btn-warning"> @Html.ActionLink("Editar", "Edit", new { id = item.IDCliente }, new { @class = "letraBotao" })</div>|
            <div class="btn btn-success"> @Html.ActionLink("Detalhes", "Details", new { id = item.IDCliente }, new { @class = "letraBotao" })</div>|
            <div class="btn btn-danger"> @Html.ActionLink("Eliminar", "Delete", new { id = item.IDCliente }, new { @class = "letraBotao" })</div>
        </td>
    </tr>
}

</table>
