<!--- Barra Lateral --->
<div class="container">
    <div class="col-md-4 products-left">
        <div class="categories">
            <h2>Menu</h2>
            <ul class="cate">
                <li>
                    <ul>
                        
                        <li>@Html.ActionLink("Carrinhos de Compras", "Index", "CarrinhoCompras")</li>
                        <li>@Html.ActionLink("Carrinhos de Compras/Produtos", "Index", "CarrinhoComprasProdutos")</li>
                        <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                        <li>@Html.ActionLink("Encomenda de Produtos", "Index", "EncomendaProdutoes")</li>
                        <li>@Html.ActionLink("Encomendas", "Index", "Encomendas")</li>
                        <li>@Html.ActionLink("Produtos", "Index", "Produtoes")</li>
                        <li>@Html.ActionLink("Região de Envio", "Index", "RegiaoEnvios")</li>
                        <li>@Html.ActionLink("Tipos de Envio", "Index", "TiposEnvios")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>





