
<!--- Barra Lateral --->
    <div class="container">
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>Produtos Disponíveis</h2>
                <ul class="cate">
                    <li>
                        <B>Frescos</B>
                        <ul>
                            <li>@Html.ActionLink("Talho", "Talho", "Home")</li>
                            <li>@Html.ActionLink("Peixaria", "Peixaria", "Home")</li>
                            <li>@Html.ActionLink("Legumes", "Legumes", "Home")</li>
                            <li>@Html.ActionLink("Fruta", "Fruta", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <B>Mercearias</B>
                        <ul>
                            <li class="disabled">@Html.ActionLink("Arroz e Massas", "ArrozMassa", "Home") </li>
                            <li class="disabled">@Html.ActionLink("Farinhas", "Farinhas", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <B>Laticínios</B>
                        <ul>
                            <li>@Html.ActionLink("Leite", "Leite", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <B>Lazer</B>
                        <ul>
                            <li>@Html.ActionLink("Jogos de Vídeo", "Games", "Home")</li>
                            <li>@Html.ActionLink("Brinquedos", "Brinquedos", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>




